body {
  background-image: url("https://images.unsplash.com/photo-1440635592348-167b1b30296f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=370477211fd6605e597e0d1e9534d99e");
  background-size: cover; }

.searchTitle, .articlesTitle {
  font-family: 'Lobster' cursive;
  text-shadow: 5px 5px #423A54;
  color: white;
  text-align: center;
  font-size: 10em;
  padding: 5% 5% 2% 5%; }

.topNav {
  background: #171C2A; }
  .topNav ul {
    padding: 1% 1% 1% 5%; }
    .topNav ul li {
      list-style: none;
      display: inline-block;
      padding-right: 4%; }
  .topNav a, .topNav a:link, .topNav a:visited {
    color: white;
    text-decoration: none; }

.search-h3 {
  color: white; }

.inputForm {
  margin-left: 41.5%; }

button {
  background: white; }

.articleContainer {
  margin-left: 9.5%;
  width: 80%;
  height: 400px;
  overflow: scroll; }
  .articleContainer .article {
    background: white;
    padding: 2%; }
